* {
	font-family: Verdana, 'Lucida Sans Unicode', sans-serif;
}

body {
	min-width: 800px;
	background: #e0e0e0;
}

#header {
	width: 100%;
	background: #b0b0b0;
}

#wrapper {
	background: #b0b0b0;
	width: 100%;
}

#information { 
	width: 49.9%;
	float:right;
}

#content {
	width: 49.9%;
	float:left;
}

h1 {
	font-size: 16pt;
	border-bottom: 1px dotted black;
}

.statusOK {
	color: green;
}

.statusUsed {
	color: red;
}

#login {
	float: right;
	border: 1px dotted #000000;
	padding: 15px;
	margin: 5px;
	background: #e0e0e0;
}

.infoBox {
	background: #e0e0e0;
	border: 1px dotted #000000;
	margin: 5px;
	padding: 15px;
	width: 100%;
	border-radius: 15px;
}

td, th {
	border-bottom: 1px dotted #000000;
}

table {
	width: 100%;
}

.siteTitle {
	font-size: 35pt;
	width: 100%;
	text-align: center;
	margin-top: 25px;
}
