.form-group label {
	text-align: left !important;
}

.row {
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
}

.control-label {
	text-align: left !important;
}


.datepicker {
	padding: 0px !important;
	margin-top: 0px !important;
	

	
}

.clockpicker {
	padding: 0px !important;


	
}

.left-inner-addon input {
    padding-left: 30px;    
}


.left-inner-addon i {
    position: absolute;
    padding: 1000px 2px;
    pointer-events: none;
}